.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  color: black; /* or choose any color that contrasts with your header's background */
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: black; /* or choose any color that contrasts with your header's background */
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
